
<div class="leads header">
<h2>Leads assigned to you<h1>
</div>

<% @leads.each do |lead| %>
<div class= "inline">
  <p class = "item"><%=link_to lead.name, user_lead_path(current_user, lead.id)%></p>
  <p class = "item"><%= lead.position %></p>
  <p class = "item"><%= lead.phone_number %></p>
  <p class = "item"><%= lead.email %></p>
  <br />
</div>
<% end %>
<%= link_to "Add a Lead", new_user_lead_path(current_user)%>
