
<% @companies.each do |company| %>
  <h1><%= link_to company.name, company_path(company) %></h1>
  <h1><%= company.city %></h1>
  <h1><%= company.state %></h1>
  <h1><%= company.industry %></h1>
  <br />
<% end %>


        <li><%= link_to "Add a Company", new_company_path %></li>
