<!DOCTYPE html>
<html>
  <head>
    <title>Smile-n-Dial</title>
    <link rel='shortcut icon' href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtgzgp7SPhYRlJmskKX1c1V6FnZiMSUuZn2PGS0ns_nUBWtQOi'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div id="grad">

    <nav class="topnav" id="myTopnav">
      <div class=navigation><%= link_to "Home", root_path%></div>
      <% if user_signed_in? %>
      <div class=user_leads><%=link_to "My leads", user_leads_path(current_user)%></div>
        <div class=username>Signed in as <%= current_user.email %></div>
        <div class=signin><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
      <% else%>
        <div class=signin>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %>
        </div>
      <%end%>
    </nav>
    </div>
    <div class="flash">

  <%flash.each do |key, value|%>
      <% if value.class == Array%>
      <%value.each do |message|%>
      <li class="errors"><%=message%></li>
      <%end%>
      <%else%>
        <li class="errors"><%=value%></li>
      </ul>
    <%end%>
  <%end%>
    <%= yield %>
  </body>
