<!DOCTYPE html>
<html>
  <head>
    <title>ProspectApp</title>
    <link rel='shortcut icon' href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtgzgp7SPhYRlJmskKX1c1V6FnZiMSUuZn2PGS0ns_nUBWtQOi'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
